
.idea/workspace.xml
Day1/bin/Debug/net9.0/Day1.deps.json
Day1/bin/Debug/net9.0/Day1.dll
Day1/bin/Debug/net9.0/Day1.exe
Day1/bin/Debug/net9.0/Day1.pdb
Day1/bin/Debug/net9.0/Day1.runtimeconfig.json
Day1/Day1.csproj
Day1/obj/Day1.csproj.nuget.dgspec.json
Day1/obj/Day1.csproj.nuget.g.props
Day1/obj/Day1.csproj.nuget.g.targets
Day1/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Day1/obj/Debug/net9.0/apphost.exe
Day1/obj/Debug/net9.0/Day1.AssemblyInfo.cs
Day1/obj/Debug/net9.0/Day1.AssemblyInfoInputs.cache
Day1/obj/Debug/net9.0/Day1.assets.cache
Day1/obj/Debug/net9.0/Day1.csproj.CoreCompileInputs.cache
Day1/obj/Debug/net9.0/Day1.csproj.FileListAbsolute.txt
Day1/obj/Debug/net9.0/Day1.dll
Day1/obj/Debug/net9.0/Day1.GeneratedMSBuildEditorConfig.editorconfig
Day1/obj/Debug/net9.0/Day1.genruntimeconfig.cache
Day1/obj/Debug/net9.0/Day1.GlobalUsings.g.cs
Day1/obj/Debug/net9.0/Day1.pdb
Day1/obj/Debug/net9.0/ref/Day1.dll
Day1/obj/Debug/net9.0/refint/Day1.dll
Day1/obj/project.assets.json
Day1/obj/project.nuget.cache
Day1/obj/project.packagespec.json
Day1/obj/rider.project.restore.info
input.txt
